body{
    background-image: url(https://png.pngtree.com/background/20230317/original/pngtree-watercolor-blue-marble-elegant-picture-image_2149384.jpg)
   }
 footer{
    background-color: rgba(205, 228, 236, 0.867);
   }
   .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box div {
    width: 100px;
    height: 100px;
  }
  .member{
    display: flex;
    align-items: center;
    width: 370px; 
    height: 500px;
    }
 .logo{
    width: 200px; 
    height: 200px; 
    justify-content: center;
    align-items: center;
   }
   .lh-b {
    line-height: 2;
  }
  .ul{
    align-items:center;
  }
  .fotos{
    display: flex;
    justify-content: center;
    width: 370px; 
    height: 500px;
  }
.parent{
  display: flex;
  align-items: center;
  justify-content: center;
}

 
   
 