body{
    background-image: url(https://png.pngtree.com/background/20230317/original/pngtree-watercolor-blue-marble-elegant-picture-image_2149384.jpg)
}
 footer{
    background-color: aqua;
 }
 .member{
    width: 370px; ;
    height: 500px; ;
 }